@using Hybrid_Saas
@{
    Layout = "SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <article class="connecting-bar" style="margin:auto; border-bottom: unset; padding:unset;">
            <article class="advantage-bar" style="margin:auto; border-bottom: unset">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:unset; border-bottom: unset">
                        <div class="para facts" style="margin-top:50px">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4  style="font-size:50px;">Algemene voorwaarden</h4>
                                
                                <div class="para2">
                                    <br />
                                    <a href="@LinkList.GetLink(Link.AlgemeeneVoorwaardePDF)"><h4  style="font-size:18px; color:#ff6600;">Algemene voorwaarden Hybrid SaaS B.V.</h4></a>
                                    <a href="@LinkList.GetLink(Link.LicentievoorwaardenPDF)"><h4 style="font-size:18px; color:#ff6600;">Licentievoorwaarden Hybrid SaaS ICT B.V.</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
        </article>
    </section>
</section>
