@using Hybrid_Saas
@{
    Layout = "SiteLayout.cshtml";

    if (IsPost)
    {
        var companyname = Request.Form["name"];
        var contactname = Request.Form["email"];
        var employeecount = Request.Form["bericht"];

        if (Validation.IsValid())
        {
            SendMail.SendEmail(companyname, contactname, employeecount);
        }
    }
}
<!-- start content -->
<section id="content-part">

	<!-- start centerpart -->
	<section id="center-part">
				
        <!-- start contact bar -->
        <article class="contact-bar">
                	
            <div class="centering">
                <div class="map">
                    <img src="images/map_img.jpg" alt="" class="map" />	
                    <div class="contact">
                        <div class="left">
                            <h3>Contact en route  sit amet, consectetur adipisicing elit, sed do. </h3>
                            <div class="semi"><p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupi</p>
                        </div>
                        <div class="right">
                            <img src="images/type_img.png" alt="" />
                        </div>
                    </div>
				</div>
	        </div>
        </article>
        <!-- end contact bar -->

		<!-- start form bar -->
        <article class="form-bar">
                	
            <div class="centering">
                <div class="form">
                        
                    <h2>HEB JE EEN VRAAG?<span>NEEM CONTACT MET ONS OP.</span></h2>
                    <aside class="forminner">
                        <div class="left">
                            <form action="#">
                                <input type="text" value="Naam" onFocus="if(this.value=='Naam')this.value='';" onBlur="if(this.value=='')this.value='Naam';" name="Name" />
                                <input type="text" value="E-mail" onFocus="if(this.value=='E-mail')this.value='';" onBlur="if(this.value=='')this.value='E-mail';" name="email" />
                                <textarea name="Bericht" cols="15" rows="5" onFocus="if(this.value=='Bericht')this.value='';" onBlur="if(this.value=='')this.value='Bericht';">Bericht</textarea>
                                <input type="submit" value="VERSTUur" />
                            </form>
                        </div>
                        <div class="right">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                            <address>Hybrid SaaS | Online Business Software <br /> Postbus 31 | 2870 AA Schoonhoven <br /> +3185 002 1940 <a href="mailto:contact@hybridsaas.com">contact@hybridsaas.com</a></address>
                            <div class="social">
                                <ul>
                                    <li><a href="@LinkList.GetLink(Link.Facebook)"><img src="images/social_icon1.png" alt="" /></a></li>
                                    <li><a href="@LinkList.GetLink(Link.Twitter)"><img src="images/social_icon2.png" alt="" /></a></li>
                                    <li><a href="@LinkList.GetLink(Link.GooglePlus)"><img src="images/social_icon3.png" alt="" /></a></li>
                                </ul>	
                            </div>
                        </div>
                    </aside>
				</div>
	        </div>
        </article>
        <!-- end form bar -->

	</section>
	<!-- end center part -->
			
</section>
<!-- end content -->