@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
<!-- start content -->
<section id="content-part">

	<!-- start centerpart -->
	<section id="center-part">
				
        <!-- start contact bar -->
        <article class="contact-bar">
                	
            <div class="centering">
                <div class="map">
                    <img src="images/map_img.jpg" alt="" class="map" />	
                    <div class="contact">
                        <div class="left">
                            <h3>Heeft u vragen neem dan contact met ons op. </h3>
                            <h1 style="color:orange;">@LinkList.GetTitle(Link.InvoerTicket)</h1>
                            <div class="semi">
                                <p>Heeft u vragen over de werking van onze <br/>
                                    software, dan kunt u uiteraard contact opnemen met de medewerkers van onze helpdesk middels het 
                                <a href="@LinkList.GetLink(Link.InvoerTicket)">online ticketsysteem</a> </p></div>
                        </div>
                        <div class="right">
                            <img src="images/type_img.png" alt="" />
                        </div>
                    </div>
				</div>
	        </div>
        </article>
	    <!-- end contact bar -->
        @Content.ContactForm(false)
	</section>
	<!-- end center part -->
			
</section>
<!-- end content -->