@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<div class="sp-component-area-inner clearfix">
    <div class="blog">

        <h2>
            <span class="subheading-category">Factsheet</span>
        </h2>

        <div class="category-desc">
            <h1><strong style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.3em;">Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.<br></strong><strong style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.3em;">Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.<br></strong><strong style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.3em;">Mocht u vragen hebben, neem dan contact met ons op.</strong></h1>
            <h1><a href="/automatische-contracten?view=section&amp;id=63" style="line-height: 1.3em;">Automatische facturen (contracten)</a></h1>
            <ul>
                <li>Periodieke facturen/ contracten instellen</li>
                <li>Frequentie bepalen (maand, kwartaal, jaar)</li>
                <li>Contractwaarde instellen (maand, kwartaal, jaar)</li>
                <li>Meerdere contractregels invoeren met eigen werkcode</li>
                <li>Commissieafdracht vastleggen</li>
                <li>Contracten dupliceren</li>
                <li>Documenten opmaken bij contracten</li>
                <li>Automatisch commissies uitrekenen per contractregel</li>
                <li>Contractduur vastleggen</li>
                <li>Herinneringsdatum vastleggen</li>
                <li>Generatiemoment (moment van factureren) vastleggen</li>
                <li>Contracten samenvoegen</li>
                <li>Digitale kopie opslaan</li>
                <li>Online bestanden opslaan bij contracten</li>
                <li>Overzicht lopende contracten</li>
                <li>Overzicht vervallen contracten</li>
                <li>Overzichten exporten naar Microsoft&nbsp; Excel</li>
                <li>Contracten factureren per type, organisatie of persoon</li>
                <li>Contracten automatisch samenvoegen</li>
                <li>Facturenoverzicht per contract inzien</li>
            </ul>
            <h1><a href="/offertes-a-orders?view=section&amp;id=65">Automatische orders</a></h1>
            <ul>
                <li>Periodieke facturen instellen</li>
                <li>Frequentie bepalen (maand, kwartaal, jaar)</li>
                <li>Orderwaarde instellen (maand, kwartaal, jaar)</li>
                <li>Meerdere orderregels invoeren met eigen werkcode</li>
                <li>Commissieafdracht vastleggen</li>
                <li>Contracten dupliceren</li>
                <li>Documenten opmaken bij contracten</li>
                <li>Automatisch commissies uitrekenen per contractregel</li>
                <li>Contractduur vastleggen</li>
                <li>Herinnering datum vastleggen</li>
                <li>Generatiemoment (moment van factureren) vastleggen</li>
                <li>Orders samenvoegen</li>
                <li>Digitale kopie opslaan</li>
                <li>Online bestanden opslaan bij contracten</li>
                <li>Overzicht lopende orders</li>
                <li>Overzicht vervallen orders</li>
                <li>Overzichten exporten naar Microsoft&nbsp; Excel</li>
                <li>Orders factureren per type, organisatie of persoon</li>
                <li>Orders automatisch samenvoegen</li>
                <li>Orderoverzicht per contract inzien</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>Bankrekeningen</h1>
            <ul>
                <li>Meerdere bankrekeningen vastleggen (per entiteit)</li>
                <li>Betaalmethodes definiëren vastleggen</li>
                <li>Banktransacties importeren MT940 (ABN, Rabo Bank, ING BANK, Deutsche Bank)</li>
                <li>Inkoopfacturen exporteren en betalen door middel van CLIEOP bestanden</li>
                <li>Betalingen automatisch incasseren door middel van CLIEOP bestanden</li>
                <li>Bankrekeningen koppelen aan bedrijven, personen en medewerkers</li>
                <li>Betalingsstamgegevens vastleggen</li>
                <li>Overzichten exporten naar Microsoft&nbsp; Excel</li>
                <li>Transacties koppelen aan een bedrijf</li>
                <li>Transacties koppelen aan een persoon</li>
                <li>Transacties koppelen aan een medewerker</li>
                <li>Transacties koppelen aan verkoopfactuur</li>
                <li>Transacties koppelen aan een inkoopfactuur</li>
                <li>Transacties koppelen aan een boekstuknummer</li>
                <li>Transacties koppelen aan een grootboekrekening</li>
                <li>Opmerkingen vastleggen bij een transactie</li>
                <li>Handmatig transacties aanmaken</li>
                <li>Digitale kopie toevoegen</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/boekhouding?view=section&amp;id=84">Boekhouding en overzichten</a></h1>
            <ul>
                <li>Winst- en verlies rekening opstellen</li>
                <li>Balans opstellen</li>
                <li>Memoriaal boekingen aanmaken en inzien</li>
                <li>Zoeken op grootboekrekeningnummers</li>
                <li>Overzichten afdrukken</li>
                <li>Overzicht exporten naar Microsoft Excel</li>
                <li>Verkoop facturen exporteren naar ander boekhoudsysteem (Exact Online, Exact Globe, Accountview)</li>
                <li>Inkoop facturen exporteren naar ander boekhoudsysteem (Exact Online, Exact Globe, Accountview)</li>
                <li>Verkoopboek inzien</li>
                <li>Inkoopboek inzien</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/certificatenbeheer?view=section&amp;id=54">Certificaten</a> en <a href="/abonnementbeheer?view=section&amp;id=53">Abonnementen</a></h1>
            <ul>
                <li>Certificaat- en abonnement type ingeven</li>
                <li>Certificaat- en abonnement gegevens vastleggen</li>
                <li>Certificaten en abonnementen koppelen aan bedrijven</li>
                <li>Certificaten en abonnementen koppelen aan medewerkers</li>
                <li>Certificaat- en abonnement nummer ingeven</li>
                <li>Start- en einddatum ingeven</li>
                <li>Herinneringsdatum ingeven (met herinneringsfunctie)</li>
                <li>Digitale kopie opslaan</li>
                <li>Overzicht geldige en lopende certificaten en abonnementen</li>
                <li>Overzicht te vernieuwen certificaten en abonnementen</li>
                <li>Overzicht verlopen certificaten en abonnementen</li>
                <li>Overzichten exporten naar Microsoft Excel</li>
                <li>Digitaal document opstellen</li>
                <li>Digitale kopie verzenden</li>
                <li>Opmerking ingeven</li>
                <li>Vaste lasten registreren en koppelen aan inkoopfacturen</li>
            </ul>
            <h1><a href="/facturatie-11?view=section&amp;id=60">Facturatie</a></h1>
            <ul>
                <li>Factuur opstellen voor een Bedrijf</li>
                <li>Factuur opstellen voor een Project</li>
                <li>Factuur opstellen voor een Persoon</li>
                <li>Factuur digitaal versturen via e-mail</li>
                <li>Factuur uitprinten</li>
                <li>Facturen crediteren</li>
                <li>Facturen dupliceren</li>
                <li>Meerdere facturen samenvoegen</li>
                <li>Facturen beschermen tegen samenvoegen, toevoegen en verwijderen</li>
                <li>Kopie van facturen sturen</li>
                <li>Herinneringen versturen via Email</li>
                <li>Herinneringen uitprinten</li>
                <li>Facturen doorsturen naar een incassobureau</li>
                <li>Facturen goed- en afkeuren</li>
                <li>Gekoppelde inkoopfacturen inzien</li>
                <li>Gekoppelde banktransacties inzien</li>
                <li>Gekoppelde samenvattingen inzien</li>
                <li>Gekoppelde termijnstaten inzien</li>
                <li>Inzicht in marges op basis van uw en geregistreerde kosten</li>
                <li>Totalen inzien van meerdere facturen</li>
                <li>Meer- en minderwerkstaten inzien</li>
                <li>Actiehistorie inzien</li>
                <li>Opmerkingen toevoegen</li>
                <li>Digitale bestanden toevoegen</li>
                <li>Periodieke facturen opstellen</li>
                <li>Factuurdetails exporten naar boekhoudsysteem</li>
                <li>Incasso betaal bestanden aanmaken (CLIEOP)</li>
                <li>Diverse facturatieschema’s met diverse betaaltermijnen aanmaken</li>
                <li>Diverse factuursjablonen aanmaken</li>
                <li>Factuurregels aanmaken via opgeslagen producten uit de productdatabase</li>
                <li>Factuurregels segmenteren</li>
                <li>Diverse overzichten van de verschillende factuurstatussen</li>
                <li>Overzichten exporten naar Microsoft Excel</li>
                <li>Marges/ kortingen ingeven per factuuregel</li>
            </ul>
            <h1><a href="/hr-management-66?view=section&amp;id=69">HRM</a></h1>
            <ul>
                <li>Medewerker contactgegevens vastleggen</li>
                <li>Legitimatiegegevens vastleggen</li>
                <li>Digitale kopie van legitimatiebewijs opslaan</li>
                <li>Dienstverband vastleggen</li>
                <li>Digitale kopie van (getekend) arbeidscontract opslaan</li>
                <li>Verlof- en vakantierooster vastleggen</li>
                <li>Familiegegevens vastleggen</li>
                <li>Nood- en medische gegevens vastleggen</li>
                <li>Certificaten en opleidingen vastleggen</li>
                <li>Medewerkers koppelen aan groepen</li>
                <li>Bedrijfsmiddelen (inventaris) registreren</li>
                <li>Arbeidscontracten opstellen op basis van sjablonen</li>
                <li>Correspondentiebrieven opstellen</li>
                <li>Adreslabels opmaken en uitprinten</li>
                <li>Arbeidscontracten opstellen</li>
                <li>Verlofverzoeken indienen</li>
                <li>Verlofverzoeken goedkeuren</li>
                <li>Bedrijfsagenda met overzicht van alle verlofdagen per medewerker en bedrijfsactiviteiten</li>
                <li>Actueel overzicht van alle vakantiesaldo’s per medewerker</li>
                <li>Overzicht van medewerkers exporten naar Microsoft&nbsp; Excel</li>
                <li>Overzicht openstaande verlofaanvragen</li>
                <li>Overzicht verwerkte verlofaanvragen</li>
                <li>Roosters exporten naar Microsoft&nbsp; Excel</li>
                <li>Lokale bestanden opslaan bij medewerker</li>
                <li>Algemene opmerkingen toevoegen bij een medewerker</li>
            </ul>
            <h1><a href="/crediteurenbeheer-34?view=section&amp;id=64">Inkoopfacturatie &amp; Crediteurenbeheer</a></h1>
            <ul>
                <li>Factuurgegevens vastleggen</li>
                <li>Digitale kopie opslaan</li>
                <li>Interne notitie opslaan</li>
                <li>Actiehistorie vastleggen en inzien</li>
                <li>Goedkeuringen door verschillende afdelingen</li>
                <li>Totalen inzien van meerdere facturen</li>
                <li>Facturen dupliceren</li>
                <li>Factuur details exporten naar Microsoft Excel</li>
                <li>Factuur details exporten naar boekhoudsysteem</li>
                <li>Factuurregels koppelen aan werkcodes en grootboekrekeningen</li>
                <li>Betaalbestanden generen (CLIEOP)</li>
                <li>Inkoopfacturen opstellen aan de hand van tijdregistraties door derden</li>
                <li>Inkoopfacturen koppelen aan projecten</li>
                <li>Inkoopfacturen koppelen aan inventarisstukken</li>
                <li>Inkoopfacturen koppelen aan verkoopfacturen</li>
                <li>Inkoopfacturen doorbelasten</li>
                <li>Vaste lasten registreren en koppelen aan inkoopfacturen</li>
                <li>Overzichten van diverse inkoopfactuur statussen</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/inventarisbeheer?view=section&amp;id=85">Inventaris</a></h1>
            <ul>
                <li>Inventaris registreren onder een bedrijf</li>
                <li>Inventaris registreren onder een persoon</li>
                <li>Inventaris registreren onder een medewerker</li>
                <li>Leverancier vastleggen</li>
                <li>Inventaristype vastleggen</li>
                <li>Omschrijving en serienummer vastleggen</li>
                <li>Diverse data vastleggen (installatie uitleendatum, garantie, retour e.d.)</li>
                <li>Inkoopfactuur koppelen aan inventarisstuk</li>
                <li>Opmerkingen opslaan bij inventarisstukken</li>
                <li>Tickets opmaken bij inventarisstuk</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1>KM registratie</h1>
            <ul>
                <li>Kilometers registreren bij projecten</li>
                <li>Kilometers registreren bij bedrijf</li>
                <li>Kilometers registreren bij persoon</li>
                <li>Aantal afgelegde kilometers ingeven</li>
                <li>Aantal passagiers ingeven</li>
                <li>Overzicht kilometers (persoonlijk, nieuw, goed- en afgekeurd)</li>
                <li>Diverse beoordeling mogelijkheden door verschillende afdelingen</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1>Notities</h1>
            <ul>
                <li>Notities aanmaken op bedrijven</li>
                <li>Notities aanmaken op personen</li>
                <li>Notities aanmaken op projecten</li>
                <li>Actiedatum toekennen (incl herinneringsdatum)</li>
                <li>Begin- en eindtijd vastleggen</li>
                <li>Notitie toewijzen aan medewerker</li>
                <li>Notities afhandelen</li>
                <li>Digitale bijlagen opslaan</li>
                <li>Datumstempel toevoegen aan notitie</li>
                <li>Bestanden toevoegen aan een notitie</li>
                <li>Notities exporteren naar Microsoft Excel</li>
                <li>Notities omzetten naar agenda items in Microsoft Outlook</li>
                <li>Notities mailen via Microsoft Outlook</li>
                <li>Notities omzetten in tijdregistraties</li>
                <li>Notities koppelen aan categorieën</li>
                <li>Document opmaken van een notitie</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/offertes-a-orders?view=section&amp;id=65">Offertes en Orders</a></h1>
            <ul>
                <li>Offertes en orders opstellen</li>
                <li>Offertes en orders opstellen voor een Bedrijf</li>
                <li>Offertes en orders opstellen voor een Persoon</li>
                <li>Offertes en orders koppelen aan een project</li>
                <li>Diverse offerte- en ordergegevens vastleggen</li>
                <li>Offerte en orderregels aanmaken uit een productendatabase</li>
                <li>Scanfunctie om snel offerte- en orderregels toe te voegen</li>
                <li>Offerte omzetten in order</li>
                <li>Offerte en orders omzetten in een factuur</li>
                <li>Offerte en orders omzetten in proformafactuur</li>
                <li>Offerte en orders omzetten in een contract</li>
                <li>Offertes en orders digitaal versturen via e-mail</li>
                <li>Offertes en orders uitprinten</li>
                <li>Offertes en orders opmaken in Microsoft Word</li>
                <li>Diverse offerte en ordersjablonen aanmaken</li>
                <li>Offertes en orders dupliceren</li>
                <li>Afwijkend factuur- en afleveradres vastleggen</li>
                <li>Diverse order statussen ingeven en vastleggen</li>
                <li>Diverse geautomatiseerde offerte statussen</li>
                <li>Diverse geautomatiseerde bestelling statussen</li>
                <li>Diverse geautomatiseerde productie statussen</li>
                <li>Diverse geautomatiseerde uitvoering statussen</li>
                <li>Diverse geautomatiseerde webshop statussen</li>
                <li>Diverse data vastleggen (offerte-, order-, leveringsdatum e.d.)</li>
                <li>Offerte- en orderkorting vastleggen</li>
                <li>Offerte- en orderkorting vastleggen per regel</li>
                <li>Verzendmethode vastleggen</li>
                <li>Vrije teksten invoeren bij een offerte of order</li>
                <li>Offerte en order historie inzien</li>
                <li>Offerte en ordermarges weergeven ten opzichte van inkoopprijs</li>
                <li>Overzichten exporten naar Microsoft&nbsp; Excel</li>
                <li>Opvolgingsdata invoeren</li>
                <li>Commissieregels vastleggen</li>
                <li>Opmerkingen en notities vastleggen</li>
                <li>Ticket aanmaken op een offerte of order</li>
                <li>Online bestanden opslaan bij offertes en orders</li>
                <li>Lokaal bestanden opslaan bij offertes en orders</li>
                <li>Digitale kopie van getekende offertes en orders opslaan</li>
                <li>Betalingsinformatie inzien</li>
                <li>Actiehistorie inzien</li>
                <li>Diverse offerte- en orderschema’s vastleggen</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/productbeheer-44?view=section&amp;id=66">Product- en voorraadbeheer</a></h1>
            <ul>
                <li>Producten categoriseren in hoofd- en subgroepen</li>
                <li>Productgroepen koppelen aan grootboekrekeningen en werkcodes</li>
                <li>Productdetails en –informatie vastleggen&nbsp;</li>
            </ul>
            <ul>
                <li>
                    <ul>
                        <li>Beschrijving</li>
                        <li>Barcode</li>
                        <li>Productcode</li>
                        <li>Leverancierscode</li>
                        <li>Eenheid</li>
                        <li>Afmetingen</li>
                        <li>Materialen</li>
                        <li>Kleur</li>
                        <li>Gewicht</li>
                        <li>Verkoopprijs inclusief of exclusief BTW (eventueel variabel)</li>
                        <li>Inkoopprijs (eventueel variabel)</li>
                        <li>Basis verkoopprijs (eventueel variabel)</li>
                        <li>Basis inkoopprijs (eventueel variabel)</li>
                        <li>Verpakkingseenheid</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Productafbeelding opslaan</li>
                <li>Opmerkingen aanmaken</li>
                <li>Producten onderverdelen in subproducten (productonderdelen)</li>
                <li>Gerelateerde producten vastleggen</li>
                <li>Producten dupliceren</li>
                <li>Productlabels en barcodes aanmaken</li>
                <li>Gekoppelde orders inzien bij producten</li>
                <li>Overzichten exporten naar Microsoft&nbsp; Excel</li>
                <li>Producten importen via Microsoft Excel</li>
                <li>Producten weergeven op de webshop</li>
                <li>Multi talig CMS teksten voor webshop vastleggen</li>
                <li>Kenmerken (tags) vastleggen</li>
                <li>Actuele voorraad van producten inzien</li>
                <li>Laatste inkoopprijs (LIP) per product</li>
                <li>Gemiddelde inkoopprijs (GIP) van actuele voorraad</li>
            </ul>
            <p>&nbsp;</p>
            <ul>
                <li>Voorraadlocaties vastleggen</li>
                <li>Productielocaties vastleggen</li>
                <li>Actuele voorraad inzien</li>
                <li>Actuele gereserveerde voorraad inzien</li>
                <li>Actuele voorraad in backorder</li>
                <li>Actuele producten gereserveerd voor bestelling</li>
                <li>Actuele vrije voorraad</li>
                <li>Leveringsaanvragen via Extranet maken</li>
                <li>Openstaande voorraad verplaatsingen inzien</li>
                <li>Voorraad inboeken (op locaties)</li>
                <li>Voorraad muteren</li>
                <li>Voorraad historie raadplegen</li>
            </ul>
            <ul></ul>
            <h1><a href="/projectbeheer-10?view=section&amp;id=52">Projectbeheer</a></h1>
            <ul>
                <li>Project (contact)gegevens vastleggen</li>
                <li>Projectdocumenten opmaken</li>
                <li>Projectstatus vastleggen</li>
                <li>Projectstamgegevens vastleggen</li>
                <li>Projecten onderverdelen in hoofd- en deelprojecten</li>
                <li>Betrokken bedrijven en organisaties registreren</li>
                <li>Betrokken personen registreren</li>
                <li>Projectduur vastleggen</li>
                <li>Project budget vastleggen (in geld)</li>
                <li>Project budget vastleggen (in tijdsduur)</li>
                <li>Projectvoortgang inzien</li>
                <li>Projectnotities en -acties vastleggen</li>
                <li>Offertes koppelen aan projecten</li>
                <li>Orders koppelen aan projecten</li>
                <li>Projectmedewerkers koppelen aan projecten</li>
                <li>Functies toewijzen aan projectmedewerkers</li>
                <li>Slottermijnen registreren per project</li>
                <li>Werkcodes (werkactiviteiten) aanmaken</li>
                <li>Uurtarief per projectmedewerker vastleggen</li>
                <li>Projecturen toewijzen aan projectmedewerkers</li>
                <li>Online bestanden opslaan bij projecten</li>
                <li>Lokaal bestanden opslaan bij projecten</li>
                <li>Facturen inzien bij projecten</li>
                <li>Orders inzien bij projecten</li>
                <li>Geregistreerde tijd inzien per projecten</li>
                <li>Geregistreerde kilometerregistraties inzien per projecten</li>
                <li>Voortgang inzien per project</li>
                <li>Meer- en minderwerkstaten inzien per project</li>
                <li>Vragenlijsten opmaken bij projecten</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/relatiebeheer-9?view=section&amp;id=51">Relatiebeheer</a></h1>
            <ul>
                <li>Contactgegevens bedrijven vastleggen</li>
                <li>Contactgegevens personen vastleggen</li>
                <li>Onderscheid maken tussen debiteuren en cediteuren</li>
                <li>Relaties groeperen en segmenteren</li>
                <li>Relaties archiveren</li>
                <li>Stamgegevens vastleggen van relaties&nbsp;</li>
            </ul>
            <ul>
                <li>
                    <ul>
                        <li>Dynamische (vrije) stamgegevens</li>
                        <li>BTW nummer</li>
                        <li>KvK nummer</li>
                        <li>Digitaal factuuradres</li>
                        <li>Standaard BTW tarief</li>
                        <li>Document (sjabloon) schema</li>
                        <li>Factuurkortingen vastleggen</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Bankrekeningen vastleggen bij bedrijven en personen</li>
                <li>Accountmanagers vastleggen bij relaties</li>
                <li>Vestigingen vastleggen bij bedrijven</li>
                <li>Certificaten koppelen aan bedrijven</li>
                <li>Abonnementen koppelen aan bedrijven</li>
                <li>Prijsafspraken vastleggen bij bedrijven</li>
                <li>Extranet gegevens vastleggen bij bedrijven</li>
                <li>Status toekennen aan relaties</li>
                <li>Online bestanden opslaan bij relaties</li>
                <li>Lokaal bestanden opslaan bij relaties</li>
                <li>Personen koppelen aan bedrijven</li>
                <li>Personen inzien bij bedrijven</li>
                <li>Projecten inzien bij bedrijven en personen</li>
                <li>Verkoopfacturen inzien bij bedrijven en personen</li>
                <li>Orders inzien bij bedrijven en personen</li>
                <li>Inkoopfacturen inzien bij bedrijven en personen</li>
                <li>Banktransacties inzien bij bedrijven en personen</li>
                <li>Tickets inzien en aanmaken bij bedrijven en personen</li>
                <li>Correspondentiebrieven en documenten opstellen op basis van sjablonen</li>
                <li>Contactgegevens exporteren naar Microsoft Outlook</li>
                <li>Mailing versturen naar diverse relaties in een bepaalde groep/ segment</li>
                <li>Notities opmaken, beheren en toewijzen</li>
                <li>Overzichten exporten naar Microsoft Excel</li>
                <li>Contacten importen via Microsoft Excel</li>
                <li>Correspondentiearchief bijhouden</li>
                <li>Verjaardag herinneringsfunctie</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/ticketsysteem-88?view=section&amp;id=55">Ticketsysteem</a></h1>
            <ul>
                <li>Tickets aanmaken via Extranet anoniem</li>
                <li>Tickets aanmaken via Extranet met logingegevens</li>
                <li>Tickets koppelen aan bedrijven, personen, projecten en werklocaties</li>
                <li>Ticketstatus aanmaken</li>
                <li>Tickets categoriseren</li>
                <li>Tickets toewijzen aan afdelingen en medewerkers</li>
                <li>Opmerkingen toevoegen aan tickets</li>
                <li>Tickets uitstellen en parkeren</li>
                <li>Vervolgtickets aanmaken</li>
                <li>Log en tickethistorie bijhouden</li>
                <li>Statusupdates versturen naar betrokkenen</li>
                <li>Digitale bijlagen opslaan bij tickets</li>
                <li>Online bestanden toevoegen aan tickets</li>
                <li>Milestones toekennen aan tickets</li>
                <li>Prognose start- en eindtijd ingeven</li>
                <li>Daadwerkelijke start- en eindtijd ingeven</li>
                <li>Tijd registreren op tickets</li>
                <li>Documenten opmaken op een ticket</li>
                <li>Overzicht van tickets op verschillende dagen</li>
                <li>Overzicht tickets per afdeling of gebruiker</li>
                <li>Overzicht exporten naar Microsoft&nbsp; Excel</li>
                <li>Ticketdocument digitaal versturen</li>
                <li>Ticketdocument uitprinten</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/component/content/?view=section&amp;id=57&amp;Itemid=1">Tijdregistratie</a></h1>
            <ul>
                <li>Tijd registreren op projecten (bedrijven en personen)</li>
                <li>Begin-, eindtijd en pauzes registreren</li>
                <li>Omschrijving en interne opmerking ingeven</li>
                <li>Notities aanmaken op tijdregistraties</li>
                <li>(on)kosten registreren</li>
                <li>(on)kosten registreren uit de producten database</li>
                <li>Tijdregistraties beoordelen door diverse afdelingen</li>
                <li>Bewijsregistratie bijvoegen</li>
                <li>Digitale bestanden toevoegen</li>
                <li>Tijd registreren via extranet en mobiel apparaat</li>
                <li>Tijd registreren via agenda items Microsoft Outlook</li>
                <li>Diverse tijdregistratie statussen in diverse processen</li>
                <li>Overzichten exporten naar Microsoft&nbsp; Excel</li>
                <li>Inkoopstuk derden aanmaken op basis van tijdregistraties</li>
                <li>Tijdregistraties factureren (per tijdvak, medewerker project, opdrachtgever)</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/enquetes?view=section&amp;id=87">Vragenlijsten en enquêtes</a></h1>
            <ul>
                <li>Vragenlijsten opstellen bij bedrijven, personen, medewerkers en projecten</li>
                <li>Openvragen toevoegen op vragenlijst</li>
                <li>Muliplechoice vragen toevoegen op vragenlijst</li>
                <li>Overzicht ingevulde en afgehandelde vragenlijsten</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1>Wachtwoordbeheer</h1>
            <ul>
                <li>Wachtwoorden registreren bij bedrijven</li>
                <li>Wachtwoorden registreren bij personen</li>
                <li>Wachtwoorden registreren bij medewerkers</li>
                <li>Opmerkingen vastleggen</li>
                <li>Overzicht exporten naar Microsoft Excel</li>
            </ul>
            <h1>&nbsp;</h1>
            <h1><a href="/werkbonnen?view=section&amp;id=88">Werkbonnen (bezoekrapporten)</a></h1>
            <ul>
                <li>Werkbonnen aanmaken via extranet (bijv telefoon of tablet)</li>
                <li>Werkbonnen koppelen aan projecten en medewerkers</li>
                <li>Werktijd registreren op werkbon (zie tijdregistratie)</li>
                <li>Kosten registreren</li>
                <li>Kosten registreren op basis van producten uit productenlijst</li>
                <li>Marge op basis van kosten en opbrengsten visualiseren</li>
                <li>Werkbeschrijving ingeven</li>
                <li>Werkbonnen goedkeuren door diverse afdelingen</li>
                <li>Werkbonnen factureren (direct, per maand, kwartaal of jaar)</li>
                <li>Digitaal document opstellen</li>
                <li>Tickets aanmaken bij werkbonnen</li>
                <li>Werkbon (bezoekrapport) versturen per email</li>
                <li>Actiehistorie inzien per werkbon</li>
            </ul>		<div class="clr"></div>
        </div>

    </div>

</div>