@{
    Layout = "SiteLayout.cshtml";
}
		<!-- start content -->
		<section id="content-part">

			<!-- start centerpart -->
			<section id="center-part">

                <!-- start module bar -->
                <article class="module-bar">
                	
                	<div class="centering">
                		<div class="text">
                        
                            <h3>De totaaloplossing van Hybrid SaaS</h3>
                            <p>Hybrid SaaS biedt de een totaaloplossing voor dienstverlenende organisaties in de ICT branche. </p>
                            <p>Met ons Online Business Software pakket automatiseer je eenvoudig alle bedrijfsprocessen via één systeem. </p>
                            
                            <div class="para">
                                <p>Organiseer alles: van het eerste klantcontact tot en met de nazorg, van administratie tot voorraadbeheer. </p>
                                <p>Overzichtelijk gepresenteerd in een dashboard en met een flexibiliteit die past bij deze tijd.</p>
                            </div>
                            
                            <div class="fill">
                            	<h4>Vul je pakket aan met behulp van onderstaande modules</h4>
                                <img src="images/fill_img.png" alt="" />
                            </div>
                            
						</div>                            
                </div>
                </article>
                <!-- end module bar -->
                
                <!-- start select bar -->
                <article class="select-bar">
                	
                	<div class="centering">
                		<div class="text">
                        	<h3>Selecteer een categorie</h3>
                          	<div class="category">
                                <ul>
                                    <li><a href="#">Alles</a></li>
                                    <li><a href="#">Financieel</a></li>
                                    <li class="active"><a href="#">Administratie</a></li>
                                    <li><a href="#">Voorraadbeheer</a></li>
                                    <li><a href="#">Ticketsystemen</a></li>
                                    <li><a href="#">Overig</a></li>	
                                </ul>
                            </div>
                            
                            <div class="management">
								<h4>Module Commisiebeheer</h4>
                                <span>Standaard inbegrepen:</span>
                            	<ul>
                                    <li><a href="#">1 user</a></li>
                                    <li><a href="#">1 GB opslag</a></li>
                                    <li><a href="#">Email forward</a></li>
                                    <li><a href="#">Outlook add-in</a></li>
                                    <li><a href="#">CRM</a></li>
                                    <li><a href="#">Wachtwoordbeheer</a></li>
                                    <li><a href="#">Export naar Excel</a></li>
								</ul>
                                <ul>
                                    <li><a href="#">Extranet (lite)</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">* Standaard met financiele export naar extern pakket</a></li>
								</ul>
                                <div class="clear"></div>
								<ul>
                                    <li><a href="#">Relatiebeheer</a></li>
                                    <li><a href="#">Facturatie</a></li>
                                    <li><a href="#">Export naar externe boekhouding</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">1 Gebruiker</a></li>
                                    <li><a href="#">1 GB dataopslag</a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">
									<ul>
                                        <li><a href="#"><img src="images/outlook_img6.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img7.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img8.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img1.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img5.png" alt="" /></a></li>
                                    </ul>
                                    <a href="#" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
								<h4>Module Contractbeheer</h4>
                                <span>Standaard inbegrepen:</span>
                            	<ul>
                                    <li><a href="#">1 user</a></li>
                                    <li><a href="#">1 GB opslag</a></li>
                                    <li><a href="#">Email forward</a></li>
                                    <li><a href="#">Outlook add-in</a></li>
                                    <li><a href="#">CRM</a></li>
                                    <li><a href="#">Wachtwoordbeheer</a></li>
                                    <li><a href="#">Export naar Excel</a></li>
								</ul>
                                <ul>
                                    <li><a href="#">Extranet (lite)</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">* Standaard met financiele export naar extern pakket</a></li>
								</ul>
                                <div class="clear"></div>
								<ul>
                                    <li><a href="#">Relatiebeheer</a></li>
                                    <li><a href="#">Facturatie</a></li>
                                    <li><a href="#">Export naar externe boekhouding</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">1 Gebruiker</a></li>
                                    <li><a href="#">1 GB dataopslag</a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">
									<ul>
                                        <li><a href="#"><img src="images/outlook_img6.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img7.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img8.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img1.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img5.png" alt="" /></a></li>
                                    </ul>
                                    <a href="#" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
								<h4>Module Financieel</h4>
                                <span>Standaard inbegrepen:</span>
                            	<ul>
                                    <li><a href="#">1 user</a></li>
                                    <li><a href="#">1 GB opslag</a></li>
                                    <li><a href="#">Email forward</a></li>
                                    <li><a href="#">Outlook add-in</a></li>
                                    <li><a href="#">CRM</a></li>
                                    <li><a href="#">Wachtwoordbeheer</a></li>
                                    <li><a href="#">Export naar Excel</a></li>
								</ul>
                                <ul>
                                    <li><a href="#">Extranet (lite)</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">* Standaard met financiele export naar extern pakket</a></li>
								</ul>
                                <div class="clear"></div>
								<ul>
                                    <li><a href="#">Relatiebeheer</a></li>
                                    <li><a href="#">Facturatie</a></li>
                                    <li><a href="#">Export naar externe boekhouding</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">1 Gebruiker</a></li>
                                    <li><a href="#">1 GB dataopslag</a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">
									<ul>
                                        <li><a href="#"><img src="images/outlook_img6.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img7.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img8.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img1.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img5.png" alt="" /></a></li>
                                    </ul>
                                    <a href="#" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management">
								<h4>Extra gebruiker</h4>
                                <span>Standaard inbegrepen:</span>
                            	<ul>
                                    <li><a href="#">1 user</a></li>
                                    <li><a href="#">1 GB opslag</a></li>
                                    <li><a href="#">Email forward</a></li>
                                    <li><a href="#">Outlook add-in</a></li>
                                    <li><a href="#">CRM</a></li>
                                    <li><a href="#">Wachtwoordbeheer</a></li>
                                    <li><a href="#">Export naar Excel</a></li>
								</ul>
                                <ul>
                                    <li><a href="#">Extranet (lite)</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">* Standaard met financiele export naar extern pakket</a></li>
								</ul>
                                <div class="clear"></div>
								<ul>
                                    <li><a href="#">Relatiebeheer</a></li>
                                    <li><a href="#">Facturatie</a></li>
                                    <li><a href="#">Export naar externe boekhouding</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">1 Gebruiker</a></li>
                                    <li><a href="#">1 GB dataopslag</a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">
									<ul>
                                        <li><a href="#"><img src="images/outlook_img6.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img7.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img8.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img1.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img5.png" alt="" /></a></li>
                                    </ul>
                                    <a href="#" class="detail">detail overzicht</a>
                                </div>
                            </div>
                            <div class="management noborder">
								<h4>Extra dataopslag</h4>
                                <span>Standaard inbegrepen:</span>
                            	<ul>
                                    <li><a href="#">1 user</a></li>
                                    <li><a href="#">1 GB opslag</a></li>
                                    <li><a href="#">Email forward</a></li>
                                    <li><a href="#">Outlook add-in</a></li>
                                    <li><a href="#">CRM</a></li>
                                    <li><a href="#">Wachtwoordbeheer</a></li>
                                    <li><a href="#">Export naar Excel</a></li>
								</ul>
                                <ul>
                                    <li><a href="#">Extranet (lite)</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">* Standaard met financiele export naar extern pakket</a></li>
								</ul>
                                <div class="clear"></div>
								<ul>
                                    <li><a href="#">Relatiebeheer</a></li>
                                    <li><a href="#">Facturatie</a></li>
                                    <li><a href="#">Export naar externe boekhouding</a></li>
                                    <li><a href="#">Notities</a></li>
                                    <li><a href="#">1 Gebruiker</a></li>
                                    <li><a href="#">1 GB dataopslag</a></li>
                                </ul>
                                <div class="clear"></div>
                                <div class="outlook">
									<ul>
                                        <li><a href="#"><img src="images/outlook_img6.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img7.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img8.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img1.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img2.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img3.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img4.png" alt="" /></a></li>
                                        <li><a href="#"><img src="images/outlook_img5.png" alt="" /></a></li>
                                    </ul>
                                    <a href="#" class="detail">detail overzicht</a>
                                </div>
                            </div>
						</div>                            
                </div>
                </article>
                <!-- end select bar -->
                
			</section>
			<!-- end center part -->
			
		</section>
		<!-- end content -->
		