@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}
        <!-- start slider -->
		<section id="slider-part">
			
            <!-- start slider bar -->
            <article class="slider-bar">
            	<div class="flexslider">
                
                    <ul class="">
                    	<li><img src="images/slider_img2.png" alt="" /></li>
                    </ul>
                
                	<aside class="text space">
                    	<div class="centering">
                        	<h2>Hybrid SaaS helpt  bedrijfsprocessen te verbeteren</h2>
                            <p>De vraagstukken die leven bij onze klanten, vormen voor ons altijd het startpunt bij de ontwikkeling van onze software. </p>
						</div>                            
                        <a href="@LinkList.GetLink(Link.Pakketten)" class="software">Bekijk onze software</a>
                        <cite class="mourning"></cite>
					</aside>
                    
            	</div>
            </article>
            <!-- end slider bar -->

		</section>
		<!-- end slider -->
		
		<!-- start content -->
		<section id="content-part">

			<!-- start centerpart -->
			<section id="center-part">

				<!-- start about bar -->
				<article class="about-bar">
				<div class="centering">
                
					<h3>Eén, complete, Nederlandse software oplossing voor alle bedrijfsprocessen binnen de ICT-dienstverlening: dat is Hybrid SaaS.</h3>
                    
                    <aside class="left">
                    	<p>Met Hybrid SaaS heb je alles wat je nodig hebt om alle bedrijfsprocessen slim te organiseren. Van relatiebeheer, ticketsysteem tot het beheer van de voorraad en de facturatie. Je kiest zelf het pakket dat aansluit op jouw wensen, en voegt eventueel naar wens specifieke modules toe. </p>
                    </aside>
                    
                    <aside class="right">
                    	<p>Wij geloven dat onze klanten het systeem waarderen en werken daarom met een contract dat maandelijks opzegbaar is. Vanuit één centraal dashboard houd je makkelijk het overzicht.</p>
                    </aside>
                    
                </div>    
				</article>
				<!-- end about bar -->

                <!-- start choose bar -->
                <article class="detail-bar">
                	<div class="centering">
                		<aside class="detail">
                        	<div class="head">
                            	<img src="images/detail_img1.png" alt="" />
                                <h3>Over Hybrid SaaS</h3>
                            </div>
                            <div class="about">
                            	<div class="left">
                                	<p>Hybrid SaaS is sinds 2006 gespecialiseerd in softwareontwikkeling. De afgelopen jaren hebben wij ons steeds meer toegelegd op het ontwikkelen van Hybrid SaaS Online Business Software, speciaal voor ICT-dienstverleners.</p>
                                    <p>Wij ontwikkelen onze software vanuit de business-gedreven gedachte dat een ICT-oplossing antwoord moet bieden op een vraag uit de business en aan moet sluiten op de dagelijkse praktijk in organisaties. </p>
                                </div>
                                <div class="right">
                                	<p>De vraagstukken die leven bij onze klanten, vormen voor ons altijd het startpunt bij de ontwikkeling van onze software. Wij geloven dat je alleen op die manier echt goede software kunt maken voor het bedrijfsleven.</p>
                                    <p>Het doel is altijd om systemen te ontwikkelen die bedrijfsprocessen overzichtelijker en efficiënter maken. Hybrid SaaS helpt onze klanten om hun bedrijfsprocessen te verbeteren.</p>
                                </div>
                            </div>
                        </aside>
                	</div>
                </article>
                <!-- end choose bar -->
                
                <!-- start service bar -->
                <article class="service-bar">
                	<div class="centering">
                		<aside class="service">
                        	<h3>Hybrid SaaS: hybride software as a service. Wat betekent dat eigenlijk?</h3>
                        	<div class="common hybrid">
                            	<h4>Hybrid</h4>
                                <p>Wij kiezen bij de ontwikkeling van onze softwaresystemen voor een hybride vorm. In de praktijk betekent dat je als gebruiker de software via internet benadert, maar ook gebruikt maakt van een lokaal opgeslagen browser. </p>
                                <div class="advantage">
                                	<h5>De voordelen</h5>
                                    <ul>
                                    	<li>
                                        	<img src="images/advantage_img1.png" alt="" />
                                            <h6>snELHEID</h6>
                                            <p>Onze software werkt sneller dan wanneer je de software alleen via internet zou benaderen</p>
                                        </li>
                                        <li>
                                        	<img src="images/advantage_img2.png" alt="" />
                                            <h6>COMMUNIcATIE</h6>
                                            <p>Slimme communicatie met andere software en hardware onderdelen</p>
                                        </li>
                                        <li>
                                        	<img src="images/advantage_img3.png" alt="" />
                                            <h6>BETAALBAAR</h6>
                                            <p>Total Cost of Ownership is laag en helder, er zijn geen verborgen kosten</p>
                                        </li>
                                    </ul>
                            	</div>
                            </div>
                            
                            <div class="common saas">
                            	<h4>SaaS</h4>
                                <p>Software as a Service betekent dat je als gebruiker de software niet hoeft aan te schaffen.Je neemt de software af als dienst. Als gebruiker sluit je een contract af voor een vast bedrag per maand voor het gebruik van de software. </p>
                                <div class="advantage">
                                	<h5>De voordelen</h5>
                                    <ul>
                                    	<li>
                                        	<img src="images/advantage_img4.png" alt="" />
                                            <h6>gemak</h6>
                                            <p>Geen omkijken naar onderhoud, installaties en beheer.</p>
                                        </li>
                                        <li>
                                        	<img src="images/advantage_img5.png" alt="" />
                                            <h6>Kosten </h6>
                                            <p>Geen grote investeringen, geen langlopende contracten</p>
                                        </li>
                                        <li>
                                        	<img src="images/advantage_img6.png" alt="" />
                                            <h6>schaalBAAR</h6>
                                            <p>De software neem je af per gebruiker, iedere maand heb je de mogelijkheid om het aantal gebruikers aan te passen.</p>
                                        </li>
                                    </ul>
                            	</div>
                            </div>
                            
                        </aside>
                	</div>
                </article>
                <!-- end service bar -->
                
			</section>
			<!-- end center part -->
			
		</section>
		<!-- end content -->
		