@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <article class="connecting-bar" style="margin:auto; border-bottom: initial; padding: initial;">
            <article class="advantage-bar" style="margin:auto; border-bottom: initial">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:initial; border-bottom: initial">
                        <div class="para facts" style="margin-top:50px">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4  style="font-size:50px;">Prijslijst Hybrid SaaS</h4>
                                
                                <div class="para2">
                                    <br />
                                    <a href="@LinkList.GetLink(Link.prijslijstpakkettenPdf)" target="_blank"><h4  style="font-size:18px; color:#ff6600;">Prijslijst Pakketten Hybrid SaaS (27-11-2015)</h4></a>
                                    <a href="@LinkList.GetLink(Link.prijslijstimplementatiePdf)" target="_blank"><h4 style="font-size:18px; color:#ff6600;">Prijslijst Implementatie & Inrichting Hybrid SaaS (27-11-2015)</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
        </article>
    </section>
</section>
