<!DOCTYPE html>
<html>
<head>	
    <link rel="stylesheet" href="Template/css/layout.css" type="text/css" />    
    <script type="text/javascript" src="js/respond.src.js">
    </script>
    </head>
<body>
    {% includeHTML ~\Template\header.html%}{% includeHTML ~\Template\footer.html%}
    <script type="text/javascript" src="js/jquery-1.11.0.min.js">
    </script>
    <script type="text/javascript" src="js/respond.src.js">
    </script>
    <script type="text/javascript" src="js/jquery.flexslider.js">

    </script>
    <script type="text/javascript" src="js/smooth-scroll.js">
    </script>
    <script type="text/javascript" src="js/custom.js">
    </script>
    </body>
</html>