@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <h4>Balans & winst en verliesrekening</h4>
                        <div class="para">
                            <p>
                                De balans & winsten verliesrekening is een kasstroomoverzicht en daarmee een onderdeel van een jaarrekening. De balans & winst en verliesrekening geeft een overzicht van de kosten en opbrengsten van de entiteit over een bepaalde periode (meestal een jaar). Het saldo van de balans & winst en verliesrekening is de over de periode behaalde winst of het over de periode geleden verlies. In dit artikel wordt het proces om een balans & winst en verliesrekening op te maken beschreven. Voordat u een Balans & Winst en verliesrekening kunt opmaken dient u eerst de basis inrichting uit te voeren
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
        <article class="advantage-bar">
            <div class="centering">
                <h3>Wat heeft de module Abonnementen te bieden?</h3>
                <!--Start Item Content on the right-->
                <div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Balans & winst en verliesrekening</h4>
                        <p>Balans & winst en verliesrekening</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Balans & winst en verliesrekening</h4>
                        <p>Balans & winst en verliesrekening</p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:initial;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2><b>Balans & winst en verliesrekening</b></h2>
                                    <ul>
                                        <li>Winst- en verlies rekening opstellen</li>
                                        <li>Balans opstellen</li>
                                        <li>Memoriaal boekingen aanmaken en inzien</li>
                                        <li>Zoeken op grootboekrekeningnummers</li>
                                        <li>Overzichten afdrukken</li>
                                        <li>Overzicht exporten naar Mircosoft Excel</li>
                                        <li>Verkoop facturen exporteren naar ander boekhoudsysteem (Exact Online, Exact Globe, Accountview)</li>
                                        <li>Inkoop facturen exporteren naar ander boekhoudsysteem (Exact Online, Exact Globe, Accountview)</li>
                                        <li>Verkoopboek inzien</li>
                                        <li>Inkoopboek inzien</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            @Content.ContactFormDemo()
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
