@using Hybrid_SaaS
@{
    Layout = "/Layouts/_SiteLayout.cshtml";
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <h4>Bankrekening</h4> <!--Header!-->
                        <div class="para">
                            <p>
                                <!--Header content-->
                                De module Bankrekeningen schept orde in de chaos. U kan eenvoudig banktransacties importeren en afletteren waardoor u altijd inzicht heeft in de openstaande en betaalde facturen.
                                Lees de banktransacties in en koppel ze eenvoudig aan openstaande verkoopfacturen. Het is ook mogelijk om incassobatches aan te maken. Het inlezen van banktransacties is ook handig voor de verwerking van inkoopfacturen. Zo kun je afschrijvingen direct koppelen aan de grootboekrekening of gegevens van inkoopfacturen automatisch gebruiken voor betalingen en incasso's.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
        <article class="advantage-bar">
            <div class="centering">
                <h3>Wat heeft de module Abonnementen te bieden?</h3>
                <!--Start Item Content on the right-->
                <div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Bankrekening</h4>
                        <p>Bankrekening</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Bankrekening</h4>
                        <p>Bankrekening</p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:initial;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>Bankrekening</h2>
                                    <ul>
                                        <li>Meerdere bankrekeningen vastleggen (per entiteit)</li>
                                        <li>Betaalmethodes definiëren vastleggen</li>
                                        <li>Banktransacties importeren MT940 (ABN, Rabo Bank, ING BANK, Deutsche Bank)</li>
                                        <li>Inkoopfacturen exporteren en betalen door middel van CLIEOP bestanden</li>
                                        <li>Betalingen automatisch incasseren door middel van CLIEOP bestanden</li>
                                        <li>Bankrekeningen koppelen aan bedrijven, personen en medewerkers</li>
                                        <li>Betalingsstamgegevens vastleggen</li>
                                        <li>Overzichten exporten naar Microsoft  Excel</li>
                                        <li>Transacties koppelen aan een bedrijf</li>
                                        <li>Transacties koppelen aan een persoon</li>
                                        <li>Transacties koppelen aan een medewerker</li>
                                        <li>Transacties koppelen aan verkoopfactuur</li>
                                        <li>Transacties koppelen aan een inkoopfactuur</li>
                                        <li>Transacties koppelen aan een boekstuknummer</li>
                                        <li>Transacties koppelen aan een grootboekrekening</li>
                                        <li>Opmerkingen vastleggen bij een transactie</li>
                                        <li>Handmatig transacties aanmaken</li>
                                        <li>Digitale kopie toevoegen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            @Content.ContactFormDemo()
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
