@using Hybrid_Saas
@{
    Layout = "/SiteLayout.cshtml";

    if (IsPost)
    {
        var companyname = Request.Form["name"];
        var contactname = Request.Form["email"];
        var employeecount = Request.Form["bericht"];

        if (Validation.IsValid())
        {
            SendMail.SendEmail(companyname, contactname, employeecount);
        }
    }
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <h4>Human resource management (HRM)</h4> <!--Header!-->
                        <div class="para">
                            <p>
                                <!--Header content-->
                                Met Hybrid Saas Human Resource Management kun je personeelszaken eenvoudig automatiseren en heb je altijd een up-to-date inzicht in de gehele personeelsadministratie. Alle personeelsgegevens staan op één centrale veilige plaats en zaken als contactgegevens, dienstverband en verlofuren kunnen altijd en overal worden geraadpleegd. Het zogenoemde Employee Self Service (ESS) maakt het mogelijk dat medewerkers zelf veranderingen en aanvragen in kunnen dienen. Deze worden vervolgens door de betreffende manager goedgekeurd en definitief doorgevoerd.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
        <article class="advantage-bar">
            <div class="centering">
                <h3>Wat heeft de module Human resource management (HRM) te bieden?</h3>
                <!--Start Item Content on the right-->
                <div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Human resource management (HRM)</h4>
                        <p>Human resource management (HRM)</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Human resource management (HRM)</h4>
                        <p>Human resource management (HRM)</p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:unset;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>Human resource management (HRM)</h2>
                                    <ul>
                                        <li>Medewerker contactgegevens vastleggen
                                        </li><li>Legitimatiegegevens vastleggen
                                        </li><li>Digitale kopie van legitimatiebewijs opslaan
                                        </li><li>Dienstverband vastleggen
                                        </li><li>Digitale kopie van (getekend) arbeidscontract opslaan
                                        </li><li>Verlof- en vakantierooster vastleggen
                                        </li><li>Familiegegevens vastleggen
                                        </li><li>Nood- en medische gegevens vastleggen
                                        </li><li>Certificaten en opleidingen vastleggen
                                        </li><li>Medewerkers koppelen aan groepen
                                        </li><li>Bedrijfsmiddelen (inventaris) registreren
                                        </li><li>Arbeidscontracten opstellen op basis van sjablonen
                                        </li><li>Correspondentiebrieven opstellen
                                        </li><li>Adreslabels opmaken en uitprinten
                                        </li><li>Arbeidscontracten opstellen
                                        </li><li>Verlofverzoeken indienen
                                        </li><li>Verlofverzoeken goedkeuren
                                        </li><li>Bedrijfsagenda met overzicht van alle verlofdagen per medewerker en bedrijfsactiviteiten
                                        </li><li>Actueel overzicht van alle vakantiesaldo’s per medewerker
                                        </li><li>Overzicht van medewerkers exporten naar Microsoft Excel
                                        </li><li>Overzicht openstaande verlofaanvragen
                                        </li><li>Overzicht verwerkte verlofaanvragen
                                        </li><li>Roosters exporten naar Microsoft Excel
                                        </li><li>Lokale bestanden opslaan bij medewerker
                                        </li><li>Algemene opmerkingen toevoegen bij een medewerker</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            <div class="centering">
                <div class="merge">
                    <div class="module">
                        <h4 style="margin-top:35px;">Nieuwsgierig geworden wat wij nog meer voor jou kunnen betekenen?<br>Vraag onze vrijblijvende Live Demo aan!</h4>
                        <div class="image"><img src="/images/connecting_img.JPG" alt="" style="width:760px; margin-top:35px" /></div>
                    </div>
                    <div class="form">
                        <h4>Interesse in deze module of een opmerking? Stuur ons een bericht.</h4>
                        <form action="#">
                            <input type="text" value="Naam" onFocus="if(this.value=='Naam')this.value='';" onBlur="if(this.value=='')this.value='Naam';" />
                            <input type="text" value="E-mail" onFocus="if(this.value=='E-mail')this.value='';" onBlur="if(this.value=='')this.value='E-mail';" />
                            <textarea cols="15" rows="5" onFocus="if(this.value=='Bericht')this.value='';" onBlur="if(this.value=='')this.value='Bericht';">Bericht</textarea>
                            <input type="submit" value="VERSTUur" />
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
