@using Hybrid_Saas
@{
    Layout = "/SiteLayout.cshtml";

    if (IsPost)
    {
        var companyname = Request.Form["name"];
        var contactname = Request.Form["email"];
        var employeecount = Request.Form["bericht"];

        if (Validation.IsValid())
        {
            SendMail.SendEmail(companyname, contactname, employeecount);
        }
    }
}

<!-- start content -->
<section id="content-part">
    <!-- start centerpart -->
    <section id="center-part">
        <!-- start commission bar -->
        <article class="commission-bar">
            <div class="centering">
                <div class="management">
                    <div class="merge">
                        <h4>Offertes en orders</h4> <!--Header!-->
                        <div class="para">
                            <p>
                                <!--Header content-->
                                In een handomdraai een professionele offerte opstellen en daarna vliegensvlug omzetten in een order? Dat kan! Met de module Hybrid Saas Offertes & Orders. Eenmalig stel je een offerte lay-out op, waarna je alleen nog maar de producten of diensten als offerteregels hoeft toe te voegen. Deze basis kan na acceptatie van de offerte dienen als order, werkbon en/of pakbon, waarbij alleen de lay-out verandert. De offerte dan wel order kan rechtstreeks digitaal verzonden worden vanuit Hybrid SaaS.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- end commission bar -->
        <!-- start advantage bar -->
        <article class="advantage-bar">
            <div class="centering">
                <h3>Wat heeft de module Offertes en orders te bieden?</h3>
                <!--Start Item Content on the right-->
                <div class="merge">
                    <div class="image"><img src="/images/foto_img.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Offertes en orders</h4>
                        <p>Offertes en orders</p>
                    </div>
                </div>
                <!--End Item Content on the right-->
                <!--Start Item Content on the Left-->
                <div class="merge second">
                    <div class="image"><img src="/images/foto_img1.jpg" alt="" /></div>
                    <div class="para">
                        <h4>Offertes en orders</h4>
                        <p>Offertes en orders</p>

                    </div>
                </div>
                <!--End Item Content on the Left-->
            </div>
        </article>
        <!-- end advantage bar -->
        <!-- start connecting bar -->
        <article class="connecting-bar" style="margin:auto;">
            <article class="advantage-bar" style="margin:auto;">
                <div class="centering">
                    <!--End Item Content on the right-->
                    <!--Start Item Content on the Left-->
                    <div class="merge fourth" style="margin:unset;">
                        <div class="para facts">
                            <div class="module" style="width: auto; margin-top:35px;">
                                <h4>Factsheet</h4>
                                <p>
                                    Hieronder zijn alle mogelijkheden binnen de verschillende online modules weergegeven.Het kan voorkomen dat het beschreven functionaliteiten aanvullende modules nodig te hebben.Mocht u vragen hebben, neem dan contact met ons op.
                                </p>
                                <div class="para2">
                                    <h2>Offertes en orders</h2>
                                    <ul>
                                        <li>Notities aanmaken op bedrijven
                                        </li><li>Offertes en orders opstellen
                                        </li><li>Offertes en orders opstellen voor een Bedrijf
                                        </li><li>Offertes en orders opstellen voor een Persoon
                                        </li><li>Offertes en orders koppelen aan een project
                                        </li><li>Diverse offerte- en ordergegevens vastleggen
                                        </li><li>Offerte en orderregels aanmaken uit een productendatabase
                                        </li><li>Scanfunctie om snel offerte- en orderregels toe te voegen
                                        </li><li>Offerte omzetten in order
                                        </li><li>Offerte en orders omzetten in een factuur
                                        </li><li>Offerte en orders omzetten in proformafactuur
                                        </li><li>Offerte en orders omzetten in een contract
                                        </li><li>Offertes en orders digitaal versturen via e-mail
                                        </li><li>Offertes en orders uitprinten
                                        </li><li>Offertes en orders opmaken in Microsoft Word
                                        </li><li>Diverse offerte en ordersjablonen aanmaken
                                        </li><li>Offertes en orders dupliceren
                                        </li><li>Afwijkend factuur- en afleveradres vastleggen
                                        </li><li>Diverse order statussen ingeven en vastleggen
                                        </li><li>Diverse geautomatiseerde offerte statussen
                                        </li><li>Diverse geautomatiseerde bestelling statussen
                                        </li><li>Diverse geautomatiseerde productie statussen
                                        </li><li>Diverse geautomatiseerde uitvoering statussen
                                        </li><li>Diverse geautomatiseerde webshop statussen
                                        </li><li>Diverse data vastleggen (offerte-, order-, leveringsdatum e.d.)
                                        </li><li>Offerte- en orderkorting vastleggen
                                        </li><li>Offerte- en orderkorting vastleggen per regel
                                        </li><li>Verzendmethode vastleggen
                                        </li><li>Vrije teksten invoeren bij een offerte of order
                                        </li><li>Offerte en order historie inzien
                                        </li><li>Offerte en ordermarges weergeven ten opzichte van inkoopprijs
                                        </li><li>Overzichten exporten naar Microsoft Excel
                                        </li><li>Opvolgingsdata invoeren
                                        </li><li>Commissieregels vastleggen
                                        </li><li>Opmerkingen en notities vastleggen
                                        </li><li>Ticket aanmaken op een offerte of order
                                        </li><li>Online bestanden opslaan bij offertes en orders
                                        </li><li>Lokaal bestanden opslaan bij offertes en orders
                                        </li><li>Digitale kopie van getekende offertes en orders opslaan
                                        </li><li>Betalingsinformatie inzien
                                        </li><li>Actiehistorie inzien
                                        </li><li>Diverse offerte- en orderschema’s vastleggen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Item Content on the Left-->
                </div>
            </article>
            <div class="centering">
                <div class="merge">
                    <div class="module">
                        <h4 style="margin-top:35px;">Nieuwsgierig geworden wat wij nog meer voor jou kunnen betekenen?<br>Vraag onze vrijblijvende Live Demo aan!</h4>
                        <div class="image"><img src="/images/connecting_img.JPG" alt="" style="width:760px; margin-top:35px" /></div>
                    </div>
                    <div class="form">
                        <h4>Interesse in deze module of een opmerking? Stuur ons een bericht.</h4>
                        <form action="#">
                            <input type="text" value="Naam" onFocus="if(this.value=='Naam')this.value='';" onBlur="if(this.value=='')this.value='Naam';" />
                            <input type="text" value="E-mail" onFocus="if(this.value=='E-mail')this.value='';" onBlur="if(this.value=='')this.value='E-mail';" />
                            <textarea cols="15" rows="5" onFocus="if(this.value=='Bericht')this.value='';" onBlur="if(this.value=='')this.value='Bericht';">Bericht</textarea>
                            <input type="submit" value="VERSTUur" />
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <!-- end connecting bar -->
    </section>
    <!-- end center part -->
</section>
<!-- end content -->
